# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Johnneylee Jack Rollins
	email = Johnneylee.Rollins@gmail.com
	signingkey = DF67E932B9F618E0483B212E5D476A62758ABCF1
[fetch]
	parallel = 8
	writeCommitGraph = true
[feature]
	experimental = true
[format]
	notes = true
[commit]
	gpgsign = true
[receive]
	denyDeletes = true
	denyDeleteCurrent = true
[rerere]
	enabled = true
[status]
	showStash = true
[tag]
	forceSignAnnotated = true
	gpgSign = true
[worktree]
	guessRemote = true

# [remote "origin"]
        # push = +refs/heads/*:refs/remotes/origin/*
	# push = +refs/notes/*:refs/notes/*
	# fetch = +refs/heads/*:refs/remotes/origin/*
	# fetch = +refs/notes/*:refs/notes/*
[alias]
	log = git log --show-notes=\"*\"
	graph = log --all --graph --pretty=format:\"%Cred%h%Creset %C(bold blue)%an%Creset :%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset\" --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[log]
	showSignature = true
[push]
	default = upstream
[core]
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
	hooksPath = ~/.config/git/hooks
[notes]
	displayRef = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
	algorithm = patience
[interactive]
	diffFilter = delta --color-only
